* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ccc5b9;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 12px;
}

.home-content {
  background-color: #ccc4b9;
  margin: 12px;
  padding: 3rem 1rem;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.home-content label {
  font-size: 18px;
}

.home-content input {
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.home-content input[type="text"] {
  padding: 8px 6px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid #000;
}

button {
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 6px;
  margin: 3rem 0 2rem 0;
  cursor: pointer;
}

.home-content h2 {
  margin-top: 2rem;
}

.home-content p {
  margin-top: 1.5rem;
}
